<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login admin</title>
    <!-- CSS
    ================================================== -->
    {{!-- <link rel="stylesheet" href="css/base.css"> --}}
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
   

</head>
<body >
    
    <center><div class="col-1-6 ">
        <h1 class="subhead">{{title}}</h1>
        <form action="/admin" method="POST" id="mc-form" class="group mc-form" novalidate="true">
        <input type="text" value="" name="user"  placeholder="Enter you name" required="">
        <input type="password" value="" name="pass" class="email" id="mc-email" placeholder="Enter you password" required="">
        <input type="submit" name="subscribe" value="Ingresar">
        <label for="mc-email" class="subscribe-message"></label>
    </form>
    </div></center>  
</body>
</html>
