body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /* background: linear-gradient(to bottom, #a9e4f7 0%,#0fb4e7 100%); */
    /* background-color: grey; */
    /* background: linear-gradient(to bottom,black 20%,#121313 50%,#2a2c2e91 100%) no-repeat;
    object-fit: cover; */
}
/* 
.contenedor{
    width: 100%;
    margin: auto;

}*/
h1,h2,h3{
    color: #000033;
    font-weight: bolder;
    
}
#titulo_panel{
    color: #337ab7;
}/*
h1{
    font-family: 'Ultra', serif;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.5px;
    
}
#logo{
     margin-right: 80px;  
     margin-bottom: 15px; 
     margin-top: 5px;  
    width: 69px;
    height: 69px;
}

*/
.textos, .textos1, .textos2, .textos3,
.textos4, .textos5, .textos6, .textos7 {
    width: 100%;
    margin: auto;
    /* margin-left: 20%;  */
    display:none;
    
}

#imagen_cabecera{
    width: 400px;
}
#imagen_portafolio{
    width: 400px;
}/*

#error{
    display: none;
}
#cerrar_sesion{
    margin-left: 120px;
    background-color: black;
}
#cerrar_sesion:hover{
    background-color: white;
    color: black;
}*/
.img_service{
    width: 400px;
}
#alerta{
    margin: auto;
    display:none;
}
#opaci{
    width: 350px;
    
}
#imagen_cabecera{
    opacity:0.2;
}
#informe{
    background-color: black;
}
#informe:hover{
    color: black;
    background-color: white;
} */
/*Plantilla bootstrap*/
/* Navbar */
.navbar{
    min-height: 35px !important;
    margin-bottom:0 !important;
    border-radius:0 !important;;
  }
  
  .navbar-nav > li > a, .navbar-brand{
    padding-top:6px !important;
    padding-bottom:0 !important;
    height: 33px !important;
  }
  
  .navbar-default {
    background-color: #337ab7;
    border-color: #337ab7;
    height: 28px !important;
    margin-bottom:0 !important;
  }
  .navbar-default .navbar-brand {
    color: #ecf0f1;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-text {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #337ab7	;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #337ab7	;
  }
  .navbar-default .navbar-toggle {
    border-color: #000033;
    color: #000033;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #000033;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color:#337ab7;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar-default .navbar-link {
    color: #ecf0f1;
  }
  .navbar-default .navbar-link:hover {
    color: #ffffff;
  }
  .color-principal, .panel-default > .panel-heading{
    background-color: #337ab7		 !important;
    border-color: #337ab7		 !important;
    color:#ffffff !important;
  }
  
  /* Header */
  #header{
    background:#000033;
    color:#ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  
  #header .crear{
    padding-top: 20px;
  }
  
  .dash-box{
    text-align:center;
  }
  
  /* #login{
    margin-top:30px;
  } */
#barra_horizontal{
  position: fixed;
  /* margin-top: 1px; */
  margin-left:-90px;
  
}
#inputs{
  margin-bottom: 60px;
}
#grafica{
  margin-top: 3px;
  margin-left: -2px;
  border-radius: 3px;
  height:349px; 
  width: 72rem;
  border: solid 1px #D8D8D8;
  display: none;
}
/* #fecha1{
  margin-left: 90px;
  display: inline;
}
#fecha2{
  margin-top: -54px;
  margin-left:-20px;
} */
#btn_fecha{
 width: 250px;
}
.busqueda{
  margin-left:285px;
  margin-top: 3px;
}
#inputs{
  border: solid 1px #D8D8D8;
  border-radius: 4px;
  width: 75rem;
  height:410px;
  overflow: auto;
  
}
#titulo_buscar{
  margin-left: 60rem;
  margin-bottom: -1px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ab5226;
  }
  #grafica{
    margin-top: 7px;
    border-radius: 3px;
    margin-left: 150px;
    height:20pxpx; 
    width: 35rem;
    border: solid 1px #D8D8D8;
    display: none;
  }
  #barra_horizontal{
    position: fixed;
    margin-top: 7px;
    width: 130px;
    margin-left: 0px;
  }
}
@media only screen and ( min-height: 768px) and (max-width: 1000px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ab5226;
  }
  #grafica{
    margin-top: 7px;
    border-radius: 3px;
    margin-left: 200px;
    height:20px; 
    width: 35rem;
    border: solid 1px #D8D8D8;
    display: none;
  }
  #barra_horizontal{
    position: fixed;
    margin-top: 7px;
    width: 230px;
    margin-left: -20px;
  }
}